* {
  margin:0;
  padding:0;
}

body {
  background-image:url("why.png");
  background-position:0px 0px;
}

h1 {
  font-family:"Patrick Hand", cursive;
  text-align:center;
  font-size:6em;
  margin-top:10%;
}

.cbalink {
  display:none;
}